:root {
    --gray-000: #000000;
    --gray-100: #1a1a1a;
    --gray-200: #333333;
    --gray-300: #4d4d4d;
    --gray-400: #808080;
    --gray-500: #999999;
    --gray-600: #b3b3b3;
    --gray-700: #cccccc;
    --gray-800: #e6e6e6;
    --gray-900: #ffffff;

    --accent-text: #dfdbff;
    --accent: #784b9e;

    --primary: #367ce1;
    --success: #40bd6b;
    --errored: #bd4040;
    --warning: #e1ab36;

    --elevation-1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --elevation-2: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --elevation-3: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --elevation-4: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --elevation-5: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --card-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    --font-sans: Outfit, sans-serif;
    --font-mono: Roboto Mono, serif;

    font-family: var(--font-sans);
    color: var(--gray-000);
}
