:where(html) {
    display: grid;
    height: 100vh;
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
        overflow: hidden;
        display: grid;
        grid-template-areas:
            'sidebar navbar'
            'sidebar content';
        grid-template-columns: 20rem auto;
        grid-template-rows: 4rem auto;
        height: 100%;

        > .content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            grid-area: content;
            overflow-y: auto;
            padding: 0.8rem 1.4rem;
            background-color: var(--content-bg);
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1s;

    &-thumb {
        background-color: var(--gray-500);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: 1s;

        &:vertical,
        &:horizontal {
            &:hover {
                background-color: var(--gray-400);
                transition: 0.3s;
            }

            &:active {
                background: var(--gray-300);
            }
        }
    }

    &-track {
        background-color: transparent;
    }

    &-corner {
        background: none;
    }
}
